html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: #f7f5f2;
}

nav {
  background-color: black;
  position: sticky;
  top: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Inconsolata";
  padding: 5px 20px;
}

.fundopreto {
  width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: black;
  color: white;
  width: 200px;
}

#menu {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-areas;
  "menu"
  "eat drink"
}
.menu {
  padding: auto;
  height: auto;
  border: groove;
}

.menuPrinc {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  background: black;
  color: white;
  width: 130px;

}
.eat {
  grid-area: eat;
  width: 320px;
  display: inline-block;
  margin: 4px 10px 5px 10px;
  background: grey;
  color: white;
}
.drink {
  grid-area: drink;
  width: 320px;
  display: inline-block;
  margin: 4px 10px 5px 10px;
  background: white;
}
.products {
  border: groove;
  border-top: none;
  text-align: left;
}
.description {
  color: grey;
}
.menuTitle {
  font-weight: normal;
}
